<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit - QuickBits</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <form action="#" method="post" class="container mt-5">
        <div class="lead fs-2 mb-3">Deposit</div>
        <div class="form-group mb-3">
            <label class="form-label fs-5">Asset to deposit</label>
            <div><b><%= tickerSymbol %></b> <img src="/img/crypto-icons/<%= tickerSymbol %>.png" alt="" height="30px" width="30px"></div>
        </div>
        <div class="form-group mb-3">
            <label for="network" class="form-label fs-5">Network to use</label>
            <div><b>BNB Smartchain (BEP20)</b> <img src="/img/crypto-icons/bnb.png" height="20px" width="20px" alt=""></div>
        </div>

        <div class="text-primary">Send crypto to this address  <b>OR</b> Scan the QR code</div><br>
        <code class="fs-5"><%= depositAddress %></code>

        
    <div class="m-0 p-0">

        <!-- QR code -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
        <canvas id="qrcode"></canvas>
        <script type="text/javascript">
        new QRious({element: document.getElementById("qrcode"), value: "<%= depositAddress %>"});
        </script>


        <canvas id="qrcode-2"></canvas>
        <script type="text/javascript">
        var qrcode = new QRious({
        element: document.getElementById("qrcode-2"),
        background: '#ffffff',
        backgroundAlpha: 1,
        foreground: '#5868bf',
        foregroundAlpha: 1,
        level: 'H',
        padding: 0,
        size: 128,
        value: website
        });
    </script>
  </div>
    </form>

</body>
</html>