<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - QuickBits</title>
        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
          <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <% if(req.isAuthenticated()){ %>
        <div class=" d-flex m-3">
            <div></div>
            <div><img class="img-thumbnail mx-3" src="<%= req.user.profilePicture %>" alt="" width="40px" height="40px"><%= req.user.displayName %></div>
            <!-- <div class="ms-2"><a href="#" class="btn btn-outline-danger">LOGOUT</a></div> -->
            <div class="ms-2"><form action="/auth/logout" method="post"><button class="btn btn-outline-danger">LOGOUT</button></form></div>
        </div>
    <%}else{ %>
        <!-- <div class=""><a href="/auth/google" class="btn btn-outline-dark px-5 mt-2">Login with Google <img src="img/google-icon.png" alt="" width="40px" height="40px"></a></div> -->
    <%} %>
    <h1 class="h1 text-center mt-5">QuickBits</h1>
    <div class="container-fluid display-4 p-5 text-center">Send Bitcoin and crypto to your friends by their Emails</div>
    <div class="container">
        <% if(req.isAuthenticated()){ %>
            <div class="d-flex flex-wrap justify-content-around">
                <a href="#" class="btn btn-outline-dark btn-lg flex-fill m-3">Balance $1,208</a>
                <a href="#" class="btn btn-outline-primary btn-lg flex-fill m-3">Deposit</a>
                <a href="#" class="btn btn-outline-primary btn-lg flex-fill m-3">Withdraw</a>
            </div>
            <% }else{ %>
                <div class=""><a href="/auth/google" class="btn  btn-dark px-5 mt-2 w-100">Login with Google <img src="img/google-icon.png" alt="" width="40px" height="40px"></a></div>
            <%} %>
        <a href="#" class="btn btn-warning btn-lg flex-fill mt-2 w-100">Send</a>
    </div>
</body>
</html>